*{
    /*border: 1px solid red;*/
    padding: 0%;
    margin: 0%;
}
.greyHeader{
    background-color: rgb(34, 42, 55);
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
     left: 0;
    right: 0;
    z-index: 1000;
    padding: 0px 300px;
}
.greyHeaderLeft{
    display: flex;
    align-items: center;
    height: max-content;
}
.phoneLogo
img{
    height:40px;
    margin-left: 40px;
    align-self: flex-end;
}
.phoneNumber a{
    height: max-content;
    padding: 0px 30px 0px 10px;
    text-decoration: none;
    color: inherit;
}
.headerText{
    color: #a0a9b6;
    font-family: Tahoma;
    font-weight: 400;
    font-size: 20px;
}
.fbLogo{
    background-image: url("photos/fbb&w.png");
}
.fbLogo:hover{
    background-image: url(photos/fbcolor.png);
    scale: 1.2;
}
.igLogo{
    background-image: url("photos/igb&w.png");
    
}
.igLogo:hover{
    background-image: url(photos/igcolor.png);
    scale: 1.2;
}
.greyHeaderRight{
    display: flex;
    margin-right: 40px;
}
.socialLogo{
    margin: 0px 20px;
    height: 30px;
    width: 30px;
    background-size: cover;
    transition: background-image 0.1s;
}
.navBar{
    display: flex ;
    align-items: center;
    position: fixed;
     top: 36px;
     left: 0;
     right: 0;
     z-index: 1000;
     padding: 0px 17%;
     background-color: #f1e9de;
    height: 75px;
}
.luMaLogo{
    height: 90%;
}
.luMaLogo img{
    height: 100%;
}
.mainPagePhoto{
    width: 100%;
}




@media only screen and (max-width: 750px) {
    
    .greyHeader{
        flex-direction: column;
        padding-top: 10px;
        padding-bottom: 15px;
      
    }
    .headerText{
        font-size: 15px;
    }
    .phoneLogo img{
        margin: 0px;
    }
}