*{
    /*border: 1px solid red;*/
    padding: 0%;
    margin: 0%;
}
.greyHeader{
    background-color: rgb(34, 42, 55);
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
     left: 0;
    right: 0;
    z-index: 1000;
    padding: 0px 15.5%;
}
.greyHeaderLeft{
    display: flex;
    align-items: center;
    height: max-content;
}
.phoneLogo
img{
    height:30px;
    margin-left: 40px;
    align-self: flex-end;
}
.phoneNumber a{
    height: max-content;
    padding: 0px 30px 0px 10px;
    text-decoration: none;
    color: inherit;
}
.headerText{
    color: #a0a9b6;
    font-family: Tahoma;
    font-weight: 400;
    font-size: 20px;
}
.fbLogo{
    background-image: url("photos/fbb&w.png");
}
.fbLogo:hover{
    background-image: url(photos/fbcolor.png);
    scale: 1.2;
    cursor: pointer;
}
.igLogo{
    background-image: url("photos/igb&w.png");
    
}
.igLogo:hover{
    background-image: url(photos/igcolor.png);
    scale: 1.2;
    cursor: pointer;
}
.greyHeaderRight{
    display: flex;
    margin-right: 40px;
}
.socialLogo{
    margin: 0px 20px;
    height: 25px;
    width: 25px;
    background-size: cover;
    transition: background-image 0.1s;
}
.navBar{
    display: flex ;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 36px;
    left: 0;
    right: 0;
    z-index: 1000;
    padding: 0px 17%;
    background-color:rgba(241,233,222,0.3);
    height: 75px;
}
.luMaLogo{
    height: 90%;
}
.luMaLogo img{
    height: 100%;
}
.mainPagePhoto{
    width: 100%;
}
.navButtons{
    display: flex;
}
.navButtons ul{
    width: 100%;
    text-align: right;
}
.navButtons ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 1%;
}
.navButtons ul li a{
    color: rgb(34, 42, 55);
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    padding: 10px 15px ;
    transition: 0.3s;
}
.appointmentButton{
    background-color: #386bea;
    border-radius: 20px;
    height: 40px;
    width: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 8%;
}
.appointmentButton p{
    color: #c9cdd1;
    font-weight: 600;
    font-family: Heebo,sans-serif;
}
.menuIcone{
    display: none;
}
.navButtons a:hover{
    background-color:  #ffffff;
    border-radius: 10px;
}

@media only screen and (max-width: 1250px) {/*----------------------------------tablice 1200px*/
    .greyHeader{
        padding: 0px 5px;
    }
    .navBar{
        padding: 0px 10px;
    }
    .navButtons ul li{
        margin: 10px 10px;
    }
}

@media only screen and (max-width: 850px) {/*----------------------------------telefoni 1200px*/
    .navButtons .appointmentButton{
        display: none;
    }
   .navButtons{
    display: none;
    position: fixed;
    top: 120px;
    right: 10px;
    background-color: rgba(241,233,222,0.8);
    margin: 0px;
    padding: 10px 0px;
    border-radius: 20px;
    border: 1px solid #386bea;
    width: 200px;
    text-align: center;
    justify-items: center;

   }
   .navButtons ul li{
    display: flex;
    justify-content: center;
    height: 50px;
    width: 90%;
    text-align: center;
    background-color: #ffffff;
    border-radius: 10px;
   }


   .mainPagePhoto{
    width: 100%;
    height: 450px;
    object-fit: cover;
    overflow: hidden;
    margin-top: 30px;
   }
   .phoneNumber{
    display: none;
   }
   .phoneLogo img{
    margin: 10px 10px;
    object-position: 0px 2px;
   }
   .luMaLogo{
    height: 60px;
    width: auto;
   }
   .greyHeaderRight{
    margin-right: 0px;
   }
   .menuIcone{
    display:block;
    height: 30px;
    margin-right: 30px;
    cursor: pointer;
   }
}